# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
.firebase

# VSCode
.vscode

# Firebase service account
/scripts/*.json
/scripts/update-privileges-to-users*.js
/scripts/export-prod-to-develop.js
