:root {
  --base-color: #f0f3f4;
  --primary-color: #008953;
  --secondary-color: #ffffff;
  --danger-color: #ff6ba5;
  --success-color: #28a745;
  --warning-color: #ffc95c;
  --accent-color: #0085ff;
  --popper-theme-background-color: #333333;
  --popper-theme-background-color-hover: #333333;
  --popper-theme-text-color: #ffffff;
  --popper-theme-border-width: 0px;
  --popper-theme-border-style: solid;
  --popper-theme-border-radius: 0.333rem;
  --popper-theme-padding: 0.517rem;
  --popper-theme-box-shadow: 0 0.333rem 1.667rem -0.333rem rgba(0, 0, 0, 0.25);
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--base-color);
  color: black;
}

h1 {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

h2 {
  font-size: 20px;
}

h4 {
  text-align: center;
  opacity: 0.5;
  margin: 0;
}

body.modal-opened {
  overflow: hidden;
}

body,
#__nuxt {
  min-height: 100vh;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

#__nuxt {
  overflow: hidden;
}

input:disabled {
  background-color: grey;
  color: rgb(44, 44, 44);
}

.no-button {
  cursor: pointer;
  background-color: unset;
  border: unset;
  color: black;
}

/* Remove the arrow */
select {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
}

/* Remove the arrow */
select option {
  background-color: var(--base-color);
  color: black;
  height: 48px;
  box-shadow: none;
}

input,
textarea,
select {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.35);
  color: inherit;
}

.btn {
  cursor: pointer;
  font-weight: 500;
  outline: none;
  border-radius: 0.428rem;
  padding: 0.714rem;
}

.vc-container {
  position: absolute;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type="submit"] {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Remove decoration to inputs */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
textarea {
  border: 2px solid rgba(255, 255, 255, 0.35);
  border-radius: 0.428rem;
  padding: 0.714rem;
  font-size: 1rem;
  color: black;
  background-color: var(--secondary-color);
  width: 100%;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
